form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  width: 200px;
}

button {
  margin-bottom: 10px;
  width: 200px;
}

.roulette-container {
  width: 300px;
  height: 300px;

  > div {
    height: 100%;
    width: 100%;
    max-height: unset;
    max-width: unset;
  }
}
